Repository owncloud/user_management, pull requests merged in 2018-10, with the labels that each got.

#82 Ui test manage user quota fix wait problem
  tests/acceptance/features/lib/UsersPage.php
  tests/acceptance/features/webUIManageQuota/manageUserQuota.feature
  tests/acceptance/features/webUIManageUsersGroups/addGroup.feature
  tests/acceptance/features/webUIManageUsersGroups/deleteUsers.feature
  tests/acceptance/features/webUIManageUsersGroups/disableUsers.feature
  tests/acceptance/features/webUIManageUsersGroups/manageGroups.feature
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#83 Rephrase then statement to be more specific
  tests/acceptance/features/bootstrap/WebUIUsersContext.php
  tests/acceptance/features/webUISettingsMenu/settingsMenu.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#84 Refactor tests 20181004
  tests/acceptance/features/webUIManageQuota/manageUserQuota.feature
  tests/acceptance/features/webUIManageUsersGroups/addUsers.feature
  tests/acceptance/features/webUIManageUsersGroups/deleteUsers.feature
  tests/acceptance/features/webUIManageUsersGroups/disableUsers.feature
  tests/acceptance/features/webUISettingsMenu/settingsMenu.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#86 Add webUI tests to disable a user as a subadmin
  tests/acceptance/features/bootstrap/WebUIUsersContext.php
  tests/acceptance/features/webUIManageUsersGroups/disableUsers.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#87 Substitute productname and edition in user management acceptance tests
  tests/acceptance/features/webUIManageUsersGroups/addUsers.feature
  tests/acceptance/features/webUIManageUsersGroups/deleteUsers.feature
  tests/acceptance/features/webUIManageUsersGroups/disableUsers.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#91 Add tests to check from address on passwordSetSuccess
  tests/acceptance/features/webUIManageUsersGroups/addUsers.feature
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#89 Fix the from address in the email when password reset
  lib/Controller/UsersController.php
  tests/acceptance/features/webUIManageUsersGroups/addUsers.feature
  tests/unit/UsersControllerTest.php
Labels: 3 - To Review
