Repository owncloud/user_management, pull requests merged in 2018-09, with the labels that each got.

#58 Sinon 6 upgrade
  tests/js/deleteHandlerSpec.js
  tests/js/package-lock.json
  tests/js/package.json
Labels: 3 - To Review

#62 Replace add-password with set_password
  templates/main.php
Labels: 3 - To Review

#60 Clear email and password fields while toggling to create user
  js/users.js
Labels: 3 - To Review

#64 Do not delete token if token mismatch happens
  lib/Controller/UsersController.php
  tests/unit/UsersControllerTest.php
Labels: 4 - To release

#66 unskip tests that were fixed by #64
  tests/acceptance/features/webUIManageUsersGroups/addUsers.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#71 Fix the token exception classes to avoid infinite loop with getPrevious
  lib/Controller/UsersController.php
  lib/Exception/InvalidUserTokenException.php
  lib/Exception/UserTokenExpiredException.php
  lib/Exception/UserTokenMismatchException.php
Labels: 3 - To Review

#74 Implement beforeScenario and afterScenario to restore settings to its initial state
  tests/acceptance/features/bootstrap/WebUIUsersContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#76 UI test for Settings Menu
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/WebUIUsersContext.php
  tests/acceptance/features/lib/UsersPage.php
  tests/acceptance/features/webUISettingsMenu/settingsMenu.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#78 change hardcoded password to use abstract password
  tests/acceptance/features/bootstrap/WebUIUsersContext.php
  tests/acceptance/features/webUIManageQuota/manageUserQuota.feature
  tests/acceptance/features/webUIManageUsersGroups/addUsers.feature
  tests/acceptance/features/webUIManageUsersGroups/deleteUsers.feature
  tests/acceptance/features/webUIManageUsersGroups/disableUsers.feature
  tests/acceptance/features/webUISettingsMenu/settingsMenu.feature
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#80 Make enable/disable setting step clear that it is on the user management page
  tests/acceptance/features/bootstrap/WebUIUsersContext.php
  tests/acceptance/features/webUISettingsMenu/settingsMenu.feature
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests
