Repository owncloud/user_management, pull requests merged in 2019-01, with the labels that each got.

#129 Add webUI tests for editing user displayname, password and group
  tests/acceptance/features/bootstrap/WebUIUsersContext.php
  tests/acceptance/features/lib/UsersPage.php
  tests/acceptance/features/webUIManageUsersGroups/editUsers.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#133 Add php codesniffer
  Makefile
  phpcs.xml
  tests/acceptance/features/bootstrap/WebUIUsersContext.php
  tests/acceptance/features/lib/UserPageElement/GroupList.php
  tests/acceptance/features/lib/UsersPage.php
  vendor-bin/php_codesniffer/composer.json
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#132 Add webUI tests for removing user from groups
  tests/acceptance/features/bootstrap/WebUIUsersContext.php
  tests/acceptance/features/lib/UsersPage.php
  tests/acceptance/features/webUIManageUsersGroups/editUsers.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#134 Install and run behat from vendor-bin
  Makefile
  tests/acceptance/config/behat.yml
  vendor-bin/behat/composer.json
Labels: 4 - To release, QA-team, dev:acceptance-tests

#138 Add webUI acceptance test for editing user email
  tests/acceptance/features/bootstrap/WebUIUsersContext.php
  tests/acceptance/features/lib/UsersPage.php
  tests/acceptance/features/webUIManageUsersGroups/editUsers.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests
