Repository owncloud/user_management, pull requests merged in 2019-02, with the labels that each got.

#139 Rename openSettingsMenu to openAppSettingsMenu
  tests/acceptance/features/bootstrap/WebUIUsersContext.php
  tests/acceptance/features/lib/UsersPage.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#140 Unskip and adjust tests for issues
  tests/acceptance/features/webUIManageQuota/manageUserQuota.feature
  tests/acceptance/features/webUIManageUsersGroups/disableUsers.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#142 Skip tests that are not supposed to work in encryption
  tests/acceptance/features/webUIManageUsersGroups/editUsers.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#143 Do not delete COMPOSER_BIN on clean-composer-deps
  Makefile
Labels: 4 - To release, QA-team

#145 Delete vendor dir when doing clean-deps
  Makefile
Labels: 4 - To release, QA-team

#31 Checkboxes to hide quota and password
  ajax/togglegroups.php
  css/style.css
  js/users.js
  lib/Controller/PageController.php
  templates/main.php
  templates/part.userlist.php
  tests/acceptance/features/bootstrap/WebUIUsersContext.php
  tests/acceptance/features/lib/UsersPage.php
  tests/acceptance/features/webUISettingsMenu/settingsMenu.feature
Labels: 4 - To release, backport-request

#146 Implement "retype password" and adjust confirm password test steps
  css/setpassword.css
  js/setpassword.js
  templates/new_user/setpassword.php
  tests/acceptance/features/webUIManageUsersGroups/addUsers.feature
  tests/js/setpasswordSpec.js
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#148 don't wait for AJAX when testing invalid quota strings
  tests/acceptance/features/bootstrap/WebUIUsersContext.php
  tests/acceptance/features/lib/UsersPage.php
  tests/acceptance/features/webUIManageQuota/manageUserQuota.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#149 Adjust acceptance test steps
  tests/acceptance/features/webUIManageUsersGroups/addUsers.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#152 make quota tests more reliable
  tests/acceptance/features/lib/UsersPage.php
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests
