Repository owncloud/user_management, pull requests merged in 2019-06, with the labels that each got.

#184 Use standalone-chrome-debug:3.141.59-oxygen to get chrome 74
  .drone.yml
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#185 Adjust create user steps
  tests/acceptance/features/webUIManageQuota/manageUserQuota.feature
  tests/acceptance/features/webUIManageUsersGroups/deleteUsers.feature
  tests/acceptance/features/webUIManageUsersGroups/disableUsers.feature
  tests/acceptance/features/webUIManageUsersGroups/editUsers.feature
  tests/acceptance/features/webUISettingsMenu/settingsMenu.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#183 webui add remove user to groups not case sensitive
  tests/acceptance/features/bootstrap/WebUIUsersContext.php
  tests/acceptance/features/webUIManageUsersGroups/addGroup.feature
  tests/acceptance/features/webUIManageUsersGroups/addUsers.feature
  tests/acceptance/features/webUIManageUsersGroups/deleteUsers.feature
  tests/acceptance/features/webUIManageUsersGroups/editUsers.feature
  tests/acceptance/features/webUIManageUsersGroups/manageGroups.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#186 Split addUsers.feature into webUIAddUsers suite
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/webUIAddUsers/addUsers.feature
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests

#188 Fix response when user is removed from group
  ajax/togglegroups.php
Labels: 3 - To Review

#189 Acceptance test for adding groups using emojis in group names
  tests/acceptance/features/webUIManageUsersGroups/addGroup.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#191 user create and delete scenario case sensitive
  tests/acceptance/features/webUIAddUsers/addUsers.feature
  tests/acceptance/features/webUIManageUsersGroups/deleteUsers.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests

#190 Test user count is updated when user is removed from or added to a group
  tests/acceptance/features/bootstrap/WebUIUsersContext.php
  tests/acceptance/features/lib/UsersPage.php
  tests/acceptance/features/webUIManageUsersGroups/addGroup.feature
  tests/acceptance/features/webUIManageUsersGroups/editUsers.feature
Labels: 4 - To release, QA-team, backport-request, dev:acceptance-tests
