Repository owncloud/user_management, pull requests merged in 2019-03, with the labels that each got.

#157 Add missing insulated disablePreviews tags to settingsMenu.feature
  tests/acceptance/features/webUISettingsMenu/settingsMenu.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#158 Wait for settings menu animation on users page
  tests/acceptance/features/lib/UsersPage.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#160 Drop PHP 5.6
  .drone.yml
Labels: 3 - To Review, QA-team

#161 Adjust composer files for 'drop PHP 5.6'
  appinfo/info.xml
  composer.json
  composer.lock
Labels: 3 - To Review, QA-team

#162 Implement waitTillPageIsLoaded for UsersPage
  tests/acceptance/features/lib/UsersPage.php
  tests/acceptance/features/webUIManageQuota/manageUserQuota.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#163 Catch waitTillXpathIsVisible() in setQuotaOfUserTo()
  tests/acceptance/features/lib/UsersPage.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#164 Align acceptance test code with core
  tests/acceptance/features/lib/DisabledUserPage.php
  tests/acceptance/features/webUIManageQuota/manageUserQuota.feature
  tests/acceptance/features/webUIManageUsersGroups/addGroup.feature
  tests/acceptance/features/webUIManageUsersGroups/addUsers.feature
  tests/acceptance/features/webUIManageUsersGroups/deleteUsers.feature
  tests/acceptance/features/webUIManageUsersGroups/disableUsers.feature
  tests/acceptance/features/webUIManageUsersGroups/editUsers.feature
  tests/acceptance/features/webUIManageUsersGroups/manageGroups.feature
  tests/acceptance/features/webUISettingsMenu/settingsMenu.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#166 Wait longer in users page wait till page is loaded
  tests/acceptance/features/lib/UsersPage.php
  tests/acceptance/features/webUIManageQuota/manageUserQuota.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#169 disable integrity check
  .drone.yml
  tests/acceptance/features/lib/UsersPage.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#170 Remove ToDo message about sleep
  tests/acceptance/features/lib/UsersPage.php
Labels: 3 - To Review, QA-team, backport-request, dev:acceptance-tests
